.stats {
  width: calc(50% - 6px);
  margin-bottom: 12px;
}
.request-list {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  padding: 1rem;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(69, 67, 67, 0.89);
    margin-bottom: 1rem;
  }
  .filter {
    color: #00acfb;
    ion-icon {
      font-size: 1rem;
    }
    b {
      font-size: 1.125rem;
      margin-left: 0.25rem;
    }
  }
  input {
    border: 0.7px solid #009de6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    width: 75%;
  }
}
