<ion-content>
  <div class="position-relative m-3">
    <div class="back-border"></div>
    <div class="request-list d-flex flex-column">
      <div class="d-flex justify-content-between">
        <span class="title">Tạo yêu cầu</span>
        <ion-icon
          [routerLink]="['/master/request/create']"
          name="add-circle"
          color="danger"
          style="font-size: 20px"
        ></ion-icon>
      </div>
      <div class="d-flex justify-content-between">
        <input matInput type="text" placeholder="Tìm theo mã yêu cầu..." />
        <span class="filter" (click)="filter()">
          <ion-icon name="funnel-outline"></ion-icon><b>Lọc</b>
        </span>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <request-stats
          class="stats"
          *ngFor="let data of stats; index as i"
          [data]="data"
          [color]="
            (i + 1) % 4 === 1
              ? 'blue'
              : (i + 1) % 4 === 2
              ? 'green'
              : (i + 1) % 4 === 3
              ? 'yellow'
              : 'red'
          "
        ></request-stats>
      </div>
      <report-item
        *ngFor="let item of listItem"
        [itemDetail]="item"
      ></report-item>
    </div>
  </div>

  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
