.chart {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  padding: 1rem;
  background: white;
  border-radius: 20px;

  margin: 1.5rem auto;
  text-align: center;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .label {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}
