<ion-content>
  <div class="m-3 d-flex flex-column">
    <keyword-chart
      [lineChartData]="lineChartData"
      [lineChartOptions]="lineChartOptions"
      [name]="keyword.name"
      [website]="keyword.website"
      [date]="keyword.date"
    ></keyword-chart>
    <div class="d-flex flex-wrap justify-content-between">
      <keyword-stats
        class="stats"
        *ngFor="let data of today"
        [data]="data"
      ></keyword-stats>
    </div>
    <div
      class="past d-flex justify-content-between my-3"
      (click)="show = !show"
    >
      <span style="font-weight: 500; font-size: 12px; color: #696969">{{
        show ? "Ẩn xem chi tiết" : "Xem chi tiết"
      }}</span>
      <ion-icon
        [name]="show ? 'chevron-down-outline' : 'chevron-forward-outline'"
      ></ion-icon>
    </div>

    <div class="d-flex flex-wrap justify-content-between" *ngIf="show">
      <keyword-stats
        class="stats"
        *ngFor="let data of past"
        [data]="data"
      ></keyword-stats>
      <ion-button>Xem thêm</ion-button>
    </div>
    <keyword-info
      [assigned]="keyword.assigned"
      [customerCode]="keyword.customerCode"
      [landingPage]="keyword.landingPage"
    ></keyword-info>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
