<div class="position-relative my-3">
  <div class="back-border"></div>
  <div class="list-box container">
    <span class="title">{{ title }}</span>
    <input matInput type="text" [placeholder]="searchPlaceholder" />
    <div *ngIf="fromKeyword">
      <div
        class="detail-box d-flex flex-column"
        style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
        *ngFor="let listBoxDetail of listBox"
        (click)="goTo('keyword', 1)"
      >
        <img
          src="assets/icon/list-box-item.svg"
          alt=""
          style="position: absolute; top: 0; left: 0; width: 100%"
        />
        <span style="height: 16px; z-index: 999">
          <ion-icon name="key-outline"></ion-icon>
          <span class="keyword">{{ listBoxDetail.keyword }}</span>
        </span>
        <span style="height: 16px; z-index: 999">
          <ion-icon name="planet-outline"></ion-icon>
          <span class="website"
            >Website: <b>{{ listBoxDetail.website }}</b></span
          >
        </span>
        <span style="height: 16px; z-index: 999">
          <ion-icon name="calendar-outline"></ion-icon>
          <span class="updated-date"
            >Cập nhật: <b>{{ listBoxDetail.updatedDate }}</b></span
          >
        </span>
        <div
          class="d-flex justify-content-between align-items-end mt-3 px-2"
          style="z-index: 999"
        >
          <div
            class="d-flex flex-column align-items-center"
            *ngFor="let item of listBoxDetail.listBoxNumber; index as i"
          >
            <div class="d-flex flex-column align-items-center">
              <span class="type">{{ item.type || "" }}</span>
              <span class="d-flex">
                <ion-icon
                  *ngIf="i === 2"
                  class="amplitude"
                  [name]="
                    item.amplitude > 0
                      ? 'caret-up'
                      : item.amplitude < 0
                      ? 'caret-down'
                      : 'ellipse'
                  "
                  [color]="
                    item.amplitude > 0
                      ? 'success'
                      : item.amplitude < 0
                      ? 'danger'
                      : 'warning'
                  "
                ></ion-icon>
                <span class="title">{{ item.title }}</span>
              </span>
            </div>
            <div
              class="number-border d-flex align-items-center justify-content-center"
            >
              <span class="number">{{ item.number }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!fromKeyword">
      <div
        class="detail-box d-flex flex-column"
        style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
        *ngFor="let listBoxDetail of listBox"
        (click)="goTo('traffic', 1)"
      >
        <img
          src="assets/icon/list-box-item.svg"
          alt=""
          style="position: absolute; top: 0; left: 0; width: 100%"
        />
        <span style="z-index: 999">
          <ion-icon name="planet-outline"></ion-icon>
          <span class="keyword"
            ><b>{{ listBoxDetail.website }}</b></span
          >
          <span class="updated-date mx-3">{{ listBoxDetail.updatedDate }}</span>
        </span>
        <div
          class="d-flex justify-content-between align-items-end px-2 mt-2"
          style="z-index: 999"
        >
          <div
            class="d-flex flex-column align-items-center"
            *ngFor="let item of listBoxDetail.listBoxNumber; index as i"
          >
            <div class="d-flex flex-column">
              <span class="type">{{ item.type || "" }}</span>
              <span class="title">{{ item.title }}</span>
            </div>
            <div
              class="number-border d-flex align-items-center justify-content-center"
            >
              <span class="number">{{ item.number }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
