<div
  class="detail-box d-flex flex-column"
  style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
>
  <img
    src="assets/icon/list-box-item.svg"
    alt=""
    style="position: absolute; top: 0; left: 0; width: 100%"
  />
  <span style="height: 16px; z-index: 999">
    <ion-icon name="key-outline"></ion-icon>
    <span class="keyword">{{ itemDetail.keyword }}</span>
  </span>
  <div class="d-flex w-100 justify-content-between align-items-end">
    <div class="d-flex flex-column detail">
      <span style="height: 16px; z-index: 999">
        <ion-icon name="planet-outline"></ion-icon>
        <span class="detail-item"
          >Website: <b>{{ itemDetail.website }}</b></span
        >
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="calendar-outline"></ion-icon>
        <span class="detail-item"
          >Cập nhật: <b>{{ itemDetail.updatedDate }}</b></span
        >
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span class="detail-item"
          >Lên TOP lần đầu: <b>{{ itemDetail.dateTop }}</b></span
        >
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="person-circle-outline"></ion-icon>
        <span class="detail-item"
          >Khách hàng: <b>{{ itemDetail.customer }}</b></span
        >
      </span>
    </div>
    <div class="rank d-flex flex-column align-items-center">
      <span class="rank-title d-flex align-items-center w-100">
        <ion-icon name="medal-outline"></ion-icon>
        <span class="rank-type">{{ itemDetail.listBoxNumber.type }}</span>
      </span>
      <div
        class="number-border d-flex align-items-center justify-content-center"
      >
        <span class="number">{{ itemDetail.listBoxNumber.number }}</span>
      </div>
    </div>
  </div>
</div>
