<div
  class="detail-box d-flex flex-column"
  style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
>
  <img
    src="assets/icon/list-box-item.svg"
    alt=""
    style="position: absolute; top: 0; left: 0; width: 100%"
  />
  <span style="height: 16px; z-index: 999">
    <ion-icon name="key-outline"></ion-icon>
    <span class="keyword">{{ item.keyword }}</span>
  </span>
  <span style="height: 16px; z-index: 999">
    <ion-icon name="planet-outline"></ion-icon>
    <span class="website"
      >Website: <b>{{ item.website }}</b></span
    >
  </span>
  <span style="height: 16px; z-index: 999">
    <ion-icon name="calendar-outline"></ion-icon>
    <span class="updated-date"
      >Cập nhật: <b>{{ item.updatedDate }}</b></span
    >
  </span>
  <div
    class="d-flex justify-content-between align-items-end mt-3 px-2"
    style="z-index: 999"
  >
    <div
      class="d-flex flex-column align-items-center"
      *ngFor="let itemDetail of item.listBoxNumber; index as i"
    >
      <div class="d-flex flex-column align-items-center">
        <span class="type">{{ itemDetail.type || "" }}</span>
        <span class="d-flex">
          <ion-icon
            *ngIf="i === 2"
            class="amplitude"
            [name]="
              itemDetail.amplitude > 0
                ? 'caret-up'
                : itemDetail.amplitude < 0
                ? 'caret-down'
                : 'ellipse'
            "
            [color]="
              itemDetail.amplitude > 0
                ? 'success'
                : itemDetail.amplitude < 0
                ? 'danger'
                : 'warning'
            "
          ></ion-icon>
          <span class="title">{{ itemDetail.title }}</span>
        </span>
      </div>
      <div
        class="number-border d-flex align-items-center justify-content-center"
      >
        <span class="number">{{ itemDetail.number }}</span>
      </div>
    </div>
  </div>
</div>
