.detail-box {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
  ion-icon {
    margin-right: 0.75rem;
    font-size: 12px;
    color: #696969;
  }
  .keyword {
    font-weight: 700;
    font-size: 16px;
    color: rgba(69, 67, 67, 0.89);
  }
  .website {
    font-weight: 400;
    font-size: 12px;
    color: #696969;
  }
  .updated-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #696969;
  }
  .type {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #696969;
  }
  .title {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #00acfb;
    margin-bottom: 0.5rem;
  }
  .amplitude {
    margin-right: 0.25rem;
  }
  .number-border {
    width: 32px;
    height: 32px;
    background-image: url("../../../../../../assets/icon/number-border-red.svg");
  }
  .number {
    font-weight: 700;
    font-size: 12px;
    color: #ff7474;
  }
}
