<div class="position-relative m-3">
  <div class="back-border"></div>
  <div class="request-content d-flex flex-column mb-2">
    <span class="title mb-3">Tạo yêu cầu</span>
    <div class="box">
      <span class="label">Dịch vụ</span>
      <ion-select
        [(ngModel)]="service"
        okText="Chọn"
        cancelText="Huỷ"
        placeholder="--Chọn Dịch vụ--"
        (ionChange)="emitChangeService($event)"
      >
        <ion-select-option [value]="null">--Chọn Dịch vụ--</ion-select-option>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </div>
    <div class="box">
      <span class="label">Website</span>
      <ion-select
        [(ngModel)]="website"
        okText="Chọn"
        cancelText="Huỷ"
        placeholder="--Chọn Website--"
        (ionChange)="emitChangeWebsite($event)"
      >
        <ion-select-option [value]="null">--Chọn Website--</ion-select-option>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </div>
    <div class="box">
      <span class="label">Loại yêu cầu</span>
      <ion-select
        [(ngModel)]="request"
        okText="Chọn"
        cancelText="Huỷ"
        placeholder="--Chọn Loại yêu cầu--"
        (ionChange)="emitChangeRequest($event)"
      >
        <ion-select-option [value]="null"
          >--Chọn Loại yêu cầu--</ion-select-option
        >
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </div>
    <div class="box">
      <span class="label">Phòng ban</span>
      <ion-select
        [(ngModel)]="department"
        okText="Chọn"
        cancelText="Huỷ"
        placeholder="--Chọn Phòng ban--"
        (ionChange)="emitChangeDepartment($event)"
      >
        <ion-select-option [value]="null">--Chọn Phòng ban--</ion-select-option>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </div>
    <div class="box">
      <span class="label">Tiêu đề</span>
      <ion-input
        type="text"
        [(ngModel)]="title"
        placeholder="Nhập tiêu đề"
        (ionChange)="emitChangeTitle($event)"
      ></ion-input>
    </div>
  </div>
  <span
    style="font-weight: 500; font-size: 14px; line-height: 17px; color: #696969"
    >Nội dung</span
  >
  <ion-textarea
    rows="9"
    placeholder="Nhập nội dung"
    class="my-2"
    [(ngModel)]="content"
    (ionChange)="emitChangeContent($event)"
  ></ion-textarea>
</div>
