.request-content {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  padding: 1rem;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .box {
    width: 100%;
    border: 0.5px solid #dadada;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin: 0.5rem 0;
    .label {
      position: absolute;
      top: -8px;
      left: 1rem;
      font-size: 12px;
      color: #b0b0b0;
      background-color: white;
    }
    ion-input {
      border: 0;
      border-radius: 10px;
      width: 100%;
      --padding-start: 1rem;
      font-size: 12px;
    }
  }
}
ion-textarea {
  --background: #ffff;
  border-radius: 20px;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #696969;
}
