.detail-box {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
  ion-icon {
    margin-right: 0.75rem;
    font-size: 12px;
    color: #696969;
  }
  .request {
    font-weight: 700;
    font-size: 16px;
    color: rgba(69, 67, 67, 0.89);
  }
  .detail {
    width: calc(100% - 60px - 1rem);
    .detail-item {
      font-weight: 400;
      font-size: 12px;
      color: #696969;
    }
  }
  .status {
    width: 60px;
    z-index: 999;
    .status-title {
      font-weight: 700;
      font-size: 10px;
      color: #00acfb;
    }
  }
  .type {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #696969;
  }
  .title {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #00acfb;
    margin-bottom: 0.5rem;
  }
  .status-border {
    width: 32px;
    height: 32px;
    background-image: url("../../../../../../assets/icon/number-border-red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .status-detail {
    font-weight: 700;
    font-size: 10px;
    color: #ff7474;
  }
}
