<div
  class="detail-box d-flex flex-column"
  style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
>
  <img
    src="assets/icon/list-box-item.svg"
    alt=""
    style="position: absolute; top: 0; left: 0; width: 100%"
  />
  <span style="height: 16px; z-index: 999">
    <ion-icon name="clipboard-outline"></ion-icon>
    <span class="request">{{ itemDetail.request }}</span>
  </span>
  <div class="d-flex w-100 justify-content-between align-items-end">
    <div class="d-flex flex-column detail">
      <span style="height: 16px; z-index: 999">
        <ion-icon name="planet-outline"></ion-icon>
        <span class="detail-item">Website: {{ itemDetail.website }}</span>
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="briefcase-outline"></ion-icon>
        <span class="detail-item">Phòng: {{ itemDetail.department }}</span>
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="id-card-outline"></ion-icon>
        <span class="detail-item">ID: {{ itemDetail.id }}</span>
      </span>
      <span style="height: 16px; z-index: 999">
        <ion-icon name="pricetag-outline"></ion-icon>
        <span class="detail-item">Loại yêu cầu: {{ itemDetail.type }}</span>
      </span>
    </div>
    <div class="status d-flex flex-column align-items-center">
      <span class="status-title">Trạng thái</span>
      <div
        class="status-border d-flex align-items-center justify-content-center"
      >
        <span class="status-detail text-center">{{ itemDetail.status }}</span>
      </div>
    </div>
  </div>
</div>
