.categories {
  padding: 1rem 0;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-indent: 16px;
    color: #373737;
    margin-right: 0.5rem;
  }
  .segment {
    .segment-item {
      font-weight: 500;
      font-size: 14px;
      text-indent: 16px;
      color: #696969;
      padding-bottom: 0.5rem;
      margin-left: 1rem;
    }
    .selected {
      font-weight: 700;
      border-bottom: 2px solid #ff7474;
    }
  }
}
