<ion-content>
  <div class="d-flex flex-column h-100 justify-content-between">
    <div class="px-3">
      <div class="categories">
        <span class="title">Dịch vụ:</span>
        <span class="segment">
          <span
            [class]="
              'segment-item ' + (segment === 'keyword' ? 'selected' : '')
            "
            (click)="segment = 'keyword'"
            >Từ khoá</span
          >
          <span
            [class]="
              'segment-item ' + (segment === 'traffic' ? 'selected' : '')
            "
            (click)="segment = 'traffic'"
            >Traffic</span
          >
          <span
            [class]="
              'segment-item ' + (segment === 'request' ? 'selected' : '')
            "
            (click)="segment = 'request'"
            >Tạo yêu cầu</span
          >
        </span>
      </div>
      <div [ngSwitch]="segment">
        <div *ngSwitchCase="'keyword'" class="d-flex flex-column">
          <home-keyword></home-keyword>
        </div>
        <div *ngSwitchCase="'traffic'" class="d-flex flex-column">
          <home-traffic></home-traffic>
        </div>
        <div *ngSwitchCase="'request'">
          <home-request></home-request>
        </div>
      </div>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button
      [routerLink]="['/master/request/create']"
      style="
        border: 4px solid #00acfb;
        --background: #ffff;
        width: 3rem;
        height: 3rem;
      "
      class="rounded-circle"
    >
      <ion-icon name="add" style="color: #00acfb; font-size: 32px"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
