<ion-content>
  <div class="d-flex flex-column h-100 justify-content-between mt-3">
    <div class="position-relative m-3">
      <div class="back-border"></div>
      <div class="info d-flex flex-column align-items-center p-3">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <span class="title">Thông tin cá nhân</span>
          <span
            class="change-password"
            [routerLink]="['/master/user/change-password']"
            >Đổi mật khẩu</span
          >
        </div>
        <img
          src="assets/images/default-avatar.png"
          alt="default-avatar"
          class="avatar"
        />
        <span class="name">{{ user.name }}</span>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">ID</span>
          <span class="value">{{ user.id }}</span>
          <span class="icon">
            <ion-icon name="id-card-outline"></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Công ty</span>
          <span class="value">{{ user.company }}</span>
          <span class="icon">
            <ion-icon name="bag-check-outline"></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Mail</span>
          <span class="value">{{ user.mail }}</span>
          <span class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Địa chỉ</span>
          <span class="value">{{ user.address }}</span>
          <span class="icon">
            <ion-icon name="locate-outline"></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">MST</span>
          <span class="value">{{ user.taxCode }}</span>
          <span class="icon">
            <ion-icon name="ticket-outline"></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">SDT</span>
          <span class="value">{{ user.phone }}</span>
          <span class="icon">
            <ion-icon name="call-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
