.info {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  .title {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }
  .change-password {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ff7474;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin: 1rem 0;
  }
  .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #373737;
    margin-bottom: 0.5rem;
  }
  .box-field {
    border: 0.7px solid #009de6;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
    align-items: center;
    .label {
      position: absolute;
      top: -8px;
      left: 1rem;
      font-size: 12px;
      color: #b0b0b0;
      background-color: white;
    }
    .value {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #373737;
    }
    .icon {
      color: #696969;
      font-size: 1rem;
    }
  }
}
