.button-file {
  background: #d0edfb;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
  color: #009de6;
}
.message-file {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #696969;
}
.back {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #009de6;
}
