<input
  type="file"
  class="d-none"
  #foo
  (click)="clickFile($event)"
  (change)="selectFile($event)"
  accept="application/msword, 
      application/vnd.ms-excel, 
      application/vnd.ms-powerpoint,application/xml,
      application/vnd.openxmlformats-officedocument.wordprocessingml.document,
      text/plain, 
      application/pdf,
      application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
      image/*"
  multiple
/>
<div class="mx-3 text-center">
  <div
    class="button-file d-flex align-items-center justify-content-center"
    (click)="foo.click()"
  >
    <ion-icon name="attach-outline"></ion-icon><span>Tải tệp tin đính kèm</span>
  </div>
  <span class="message-file">Tổng files đính kèm tối đa 25MB</span>
  <ion-button>Tạo yêu cầu</ion-button>
  <span class="back" (click)="back()">Trở lại</span>
</div>
