.info {
  background: #ffffff;
  border-radius: 20px;
  padding: 0.5rem 1rem;

  .box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.7px solid #009de5;
    .label {
      position: absolute;
      top: -8px;
      left: 1rem;
      font-size: 12px;
      color: #b0b0b0;
      background-color: white;
    }
    .value {
      font-weight: 500;
      font-size: 14px;
      color: #696969;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ion-icon {
        font-size: 1rem;
      }
    }
  }
}
