<div class="info">
  <div class="box">
    <span class="label">Mã KH</span>
    <div class="value">
      <span>{{ customerCode }}</span>
      <ion-icon name="id-card-outline"></ion-icon>
    </div>
  </div>
  <div class="box">
    <span class="label">Landing Page</span>
    <div class="value">
      <span>{{ landingPage }}</span>
      <ion-icon name="locate-outline"></ion-icon>
    </div>
  </div>
  <div class="box">
    <span class="label">Nhận viên phụ trách</span>
    <div class="value">
      <span>{{ assigned }}</span>
      <ion-icon name="mail-outline"></ion-icon>
    </div>
  </div>
</div>
