<div class="position-relative">
  <div class="back-border"></div>
  <div class="chart">
    <div class="d-flex justify-content-between mb-3">
      <span class="title">Chi tiết từ khoá</span>
      <ion-icon
        name="options-outline"
        style="color: #696969; font-size: 24px"
        (click)="filter()"
      ></ion-icon>
    </div>
    <b class="label">{{ name }}</b>
    <b class="label-2">Website: {{ website }}</b>
    <b class="label-2">Cập nhật: {{ date | date: "dd/MM/yyyy" }}</b>
    <canvas
      class="my-3"
      baseChart
      width="325"
      height="172"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      [legend]="false"
    ></canvas>
  </div>
</div>
