.chart {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  padding: 1rem;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .label {
    font-weight: 700;
    font-size: 18px;
    color: rgba(69, 67, 67, 0.89);
  }
  .label-2 {
    font-weight: 500;
    font-size: 14px;
    color: #696969;
  }
}
