<div class="d-flex flex-column p-4">
  <span class="title my-4">Tuỳ chỉnh đồ thị</span>
  <div class="d-flex justify-content-between">
    <div class="date">
      <span class="label-date">Từ ngày</span>
      <div class="d-flex align-items-center">
        <ion-input id="from" [value]="from" placeholder="--Chọn ngày--">
        </ion-input>
        <ion-icon name="calendar-outline" size="small"></ion-icon>
      </div>
      <ion-popover trigger="from">
        <ion-datetime
          presentation="date"
          [(ngModel)]="from"
          (ionChange)="fromDatePicked($event)"
        ></ion-datetime>
      </ion-popover>
    </div>
    <div class="date">
      <span class="label-date">Đến ngày</span>
      <div class="d-flex align-items-center">
        <ion-input id="to" [value]="to" placeholder="--Chọn ngày--">
        </ion-input>
        <ion-icon name="calendar-outline" size="small"></ion-icon>
      </div>
      <ion-popover trigger="to">
        <ion-datetime
          presentation="date"
          [(ngModel)]="to"
          (ionChange)="toDatePicked($event)"
        ></ion-datetime>
      </ion-popover>
    </div>
  </div>
  <div class="box">
    <span class="label">Website</span>
    <ion-select
      value="brown"
      okText="Chọn"
      cancelText="Huỷ"
      placeholder="--Chọn website--"
    >
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </div>
  <ion-button>Xem</ion-button>
</div>
