<div class="stats d-flex align-items-center justify-content-between">
  <div class="d-flex flex-column">
    <span class="title">{{ data.title }}</span>
    <span class="label">{{ data.label }}</span>
    <span class="date">{{ data.date | date: "dd/MM/yyyy" }}</span>
  </div>
  <div
    class="number-border-blue d-flex justify-content-center align-items-center"
  >
    <span class="number">{{ data.number }}</span>
  </div>
</div>
