.stats {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 10px;
  padding: 1rem;
  .title {
    font-weight: 500;
    font-size: 12px;
    color: #696969;
  }
  .label {
    font-size: 12px;
    font-weight: 700;
    color: #696969;
  }
  .date {
    font-weight: 500;
    font-size: 12px;
    color: #696969;
  }
  .number-border-blue {
    width: 2rem;
    height: 2rem;
    background-image: url("../../../../../../assets/icon/number-border-blue.svg");
  }
  .number {
    font-weight: 700;
    font-size: 12px;

    color: #00acfb;
  }
}
