<div [class]="'box-item box-' + boxItem.color">
  <div class="number-border d-flex align-items-center justify-content-center">
    <span class="number">{{ boxItem.number }}</span>
  </div>
  <div class="group-title">
    <span class="type">{{ boxItem.type }}</span>
    <span class="title">{{ boxItem.title }}</span>
  </div>
</div>
