<ion-content>
  <div class="d-flex flex-column justify-content-between h-100">
    <img src="assets/header-onboarding.png" class="w-100 img-header" alt="" />
    <form action="" class="w-90 m-auto p-3 d-flex flex-column bg-white">
      <span class="title">Đặt mật khẩu mới</span>
      <span class="label">Mật khẩu mới</span>
      <ion-item lines="none">
        <ion-input
          placeholder="Nhập mật khẩu mới"
          [type]="hideNewPassword ? 'password' : 'text'"
        ></ion-input>
        <ion-icon
          [name]="'eye' + (hideNewPassword ? '' : '-off') + '-outline'"
          slot="end"
          size="small"
          color="medium"
          (click)="hideNewPassword = !hideNewPassword"
        ></ion-icon>
      </ion-item>
      <span class="label">Nhập lại mật khẩu mới</span>
      <ion-item lines="none">
        <ion-input
          placeholder="Nhập lại mật khẩu mới"
          [type]="hideConfirmNewPassword ? 'password' : 'text'"
        ></ion-input>
        <ion-icon
          [name]="'eye' + (hideConfirmNewPassword ? '' : '-off') + '-outline'"
          slot="end"
          size="small"
          color="medium"
          (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
        ></ion-icon>
      </ion-item>
      <ion-button [routerLink]="['/auth/reset-password']">Gửi</ion-button>
      <span class="text text-center mt-6rem" [routerLink]="['/auth/login']"
        >Đăng nhập</span
      >
      <span class="text text-center" [routerLink]="['/auth/qa']"
        >Câu hỏi thường gặp</span
      >
    </form>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
