<ion-content>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="position-relative m-3">
      <div class="back-border"></div>
      <div class="d-flex flex-column report p-3">
        <div class="d-flex justify-content-between">
          <span class="title">Từ khoá lên TOP lần đầu</span>
          <span class="filter" (click)="filter()">
            <ion-icon name="funnel-outline"></ion-icon><b>Lọc</b>
          </span>
        </div>
        <input
          matInput
          type="text"
          placeholder="Tìm kiếm theo tên khách hàng..."
        />
        <report-item
          [itemDetail]="item"
          *ngFor="let item of listBox"
        ></report-item>
      </div>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
