<div class="d-flex flex-column p-4">
  <span class="title my-4">Tuỳ chỉnh đồ thị</span>
  <div class="d-flex justify-content-between">
    <div class="date">
      <span class="label-date">Từ ngày</span>
      <div class="d-flex align-items-center">
        <ion-input id="from" [value]="from" placeholder="--Chọn ngày--">
        </ion-input>
        <ion-icon name="calendar-outline" size="small"></ion-icon>
      </div>
      <ion-popover trigger="from">
        <ion-datetime
          presentation="date"
          [(ngModel)]="from"
          (ionChange)="fromDatePicked($event)"
        ></ion-datetime>
      </ion-popover>
    </div>
    <div class="date">
      <span class="label-date">Đến ngày</span>
      <div class="d-flex align-items-center">
        <ion-input id="to" [value]="to" placeholder="--Chọn ngày--">
        </ion-input>
        <ion-icon name="calendar-outline" size="small"></ion-icon>
      </div>
      <ion-popover trigger="to">
        <ion-datetime
          presentation="date"
          [(ngModel)]="to"
          (ionChange)="toDatePicked($event)"
        ></ion-datetime>
      </ion-popover>
    </div>
  </div>
  <ion-button>Xem</ion-button>
</div>
