ion-popover {
  --width: 350px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.date {
  width: 48%;
  border: 0.5px solid #dadada;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  margin: 0.5rem 0;
  ion-input {
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
  }
  .label-date {
    position: absolute;
    top: -8px;
    left: 1rem;
    font-size: 12px;
    color: #b0b0b0;
    background-color: white;
  }
}
