<ion-content>
  <div class="m-3 d-flex flex-column">
    <traffic-chart
      [lineChartData]="lineChartData"
      [lineChartOptions]="lineChartOptions"
      [website]="traffic.website"
      [date]="traffic.date"
    ></traffic-chart>
    <div class="d-flex flex-wrap justify-content-between">
      <traffic-stats
        class="stats"
        *ngFor="let data of stats"
        [data]="data"
      ></traffic-stats>
    </div>
    <ion-button>Xem thêm</ion-button>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
