<ion-content>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="position-relative m-3">
      <div class="back-border"></div>
      <div class="qa d-flex flex-column p-3">
        <span class="title">Câu hỏi thường gặp</span>
        <div
          class="qa-item d-flex align-items-center"
          *ngFor="let qa of qaList; index as i"
        >
          <div
            [class]="
              'count d-flex justify-content-center align-items-center number-' +
              ((i + 1) % 4 === 1
                ? 'blue'
                : (i + 1) % 4 === 2
                ? 'green'
                : (i + 1) % 4 === 3
                ? 'yellow'
                : 'red')
            "
          >
            {{ i + 1 }}
          </div>
          <span>{{ qa }}</span>
        </div>
      </div>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
