<ion-content>
  <div class="d-flex flex-column h-100 justify-content-between">
    <div class="position-relative m-3" style="height: 90%">
      <div class="back-border"></div>
      <form class="info d-flex flex-column align-items-center p-3">
        <div
          class="d-flex justify-content-between w-100 align-items-center mb-3"
        >
          <span class="title">Đổi mật khẩu</span>
          <span class="info" [routerLink]="['/master/user/info']"
            >Thông tin cá nhân</span
          >
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Mật khẩu hiện tại</span>
          <ion-input
            [type]="showOld ? 'text' : 'password'"
            placeholder="Nhập mật khẩu hiện tại"
          ></ion-input>
          <span class="icon">
            <ion-icon
              [name]="'eye' + (showOld ? '-off' : '') + '-outline'"
              (click)="showOld = !showOld"
            ></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Mật khẩu mới</span>
          <ion-input
            [type]="showNew ? 'text' : 'password'"
            placeholder="Nhập mật khẩu mới"
          ></ion-input>
          <span class="icon">
            <ion-icon
              [name]="'eye' + (showNew ? '-off' : '') + '-outline'"
              (click)="showNew = !showNew"
            ></ion-icon>
          </span>
        </div>
        <div
          class="box-field p-3 position-relative d-flex justify-content-between"
        >
          <span class="label">Nhập lại mật khẩu mới</span>
          <ion-input
            [type]="showConfirm ? 'text' : 'password'"
            placeholder="Nhập lại mật khẩu mới"
          ></ion-input>
          <span class="icon">
            <ion-icon
              [name]="'eye' + (showConfirm ? '-off' : '') + '-outline'"
              (click)="showConfirm = !showConfirm"
            ></ion-icon>
          </span>
        </div>
        <ion-button type="submit" (click)="onSubmit()">Lưu</ion-button>
      </form>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
