<ion-content>
  <div class="d-flex flex-column">
    <content-request
      [(service)]="service"
      [(website)]="website"
      [(request)]="request"
      [(department)]="department"
      [(title)]="title"
      [(content)]="content"
    ></content-request>
    <file-request></file-request>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
