<div>
  <div
    class="detail-box d-flex flex-column"
    style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
  >
    <img
      src="assets/icon/list-box-item.svg"
      alt=""
      style="position: absolute; top: 0; left: 0; width: 100%"
    />
    <span style="z-index: 999">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span class="name">
        <b>{{ contact.name }}</b>
      </span>
    </span>
    <span style="z-index: 999">
      <ion-icon name="planet-outline"></ion-icon>
      <span class="detail">
        {{ contact.company }}
      </span>
    </span>
    <span style="z-index: 999">
      <ion-icon name="grid-outline"></ion-icon>
      <span class="detail"> Dịch vụ: {{ contact.service }} </span>
    </span>
    <span style="z-index: 999">
      <ion-icon name="reader-outline"></ion-icon>
      <span class="detail"> Số HĐ: {{ contact.contractNumber }} </span>
    </span>
  </div>
</div>
