.detail-box {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  margin-bottom: 1rem;
  ion-icon {
    margin-right: 0.75rem;
    font-size: 12px;
    color: #696969;
  }
  .name {
    font-size: 16px;
    line-height: 19px;
    color: rgba(69, 67, 67, 0.89);
  }
  .detail {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #696969;
  }
}
