<ion-content>
  <div class="position-relative m-3">
    <div class="back-border"></div>
    <div class="list-box container">
      <span class="title">Thông tin tương tác</span>
      <span class="sub-title">Thông tin khách hàng</span>

      <div class="box">
        <span class="label">Khách hàng</span>
        <div class="value">
          <span>{{ info.name }}</span>
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Đại diện ký HĐ</span>
        <div class="value">
          <span>{{ info.signatureAuthor }}</span>
          <ion-icon name="clipboard-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Đại diện làm việc</span>
        <div class="value">
          <span>{{ info.representative }}</span>
          <ion-icon name="people-circle-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Điện thoại</span>
        <div class="value">
          <span>{{ info.phone }}</span>
          <ion-icon name="call-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Email</span>
        <div class="value">
          <span>{{ info.email }}</span>
          <ion-icon name="mail-outline"></ion-icon>
        </div>
      </div>
      <span class="sub-title">Thông tin đại diện GOBRANDING</span>

      <div class="box">
        <span class="label">Thay đổi phạm vi HĐ</span>
        <div class="value">
          <span>{{ info.supportContact }}</span>
          <ion-icon name="call-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Hỗ trợ kỹ thuật, tiến độ dự án</span>
        <div class="value">
          <span>{{ info.supportTech }}</span>
          <ion-icon name="call-outline"></ion-icon>
        </div>
      </div>
      <div class="box">
        <span class="label">Phí và CSKH</span>
        <div class="value">
          <span>{{ info.supportCustomer }}</span>
          <ion-icon name="call-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
