.list-box {
  background: #ffff;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  padding: 1rem;
  min-height: 100px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(69, 67, 67, 0.89);
    margin-bottom: 1rem;
  }
  .sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #373737;
    margin-bottom: 1rem;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.7px solid #009de5;
    .label {
      position: absolute;
      top: -8px;
      left: 1rem;
      font-size: 12px;
      color: #b0b0b0;
      background-color: white;
    }
    .value {
      font-weight: 500;
      font-size: 14px;
      color: #696969;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ion-icon {
        font-size: 1rem;
      }
    }
  }
}
