<div>
  <div
    class="detail-box d-flex flex-column"
    style="box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); border-radius: 10px"
  >
    <img
      src="assets/icon/list-box-item.svg"
      alt=""
      style="position: absolute; top: 0; left: 0; width: 100%"
    />
    <span style="z-index: 999">
      <ion-icon name="planet-outline"></ion-icon>
      <span class="keyword"
        ><b>{{ item.website }}</b></span
      >
      <span class="updated-date mx-3">{{ item.updatedDate }}</span>
    </span>
    <div
      class="d-flex justify-content-between align-items-end px-2 mt-2"
      style="z-index: 999"
    >
      <div
        class="d-flex flex-column align-items-center"
        *ngFor="let itemDetail of item.listBoxNumber; index as i"
      >
        <div class="d-flex flex-column">
          <span class="type">{{ itemDetail.type || "" }}</span>
          <span class="title">{{ itemDetail.title }}</span>
        </div>
        <div
          class="number-border d-flex align-items-center justify-content-center"
        >
          <span class="number">{{ itemDetail.number }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
