.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #696969;
  margin-bottom: 2rem;
}
.label {
  font-weight: 700;
  line-height: 19px;
  color: #00acfb;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
form {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
}
ion-item {
  --border-radius: 0.375rem;
  --border-color: #009de5;
  --border-width: 0.7px;
}
ion-input {
  --padding-top: 0;
  --padding-bottom: 0;
}
.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #009de6;
  margin: 0.5rem 0;
}
