<ion-content>
  <div class="d-flex flex-column justify-content-between h-100">
    <img src="assets/header-onboarding.png" class="w-100 img-header" alt="" />
    <form action="" class="w-90 m-auto p-3 d-flex flex-column bg-white">
      <span class="title">Quên mật khẩu</span>
      <span class="label">Email</span>
      <ion-item lines="none">
        <ion-input placeholder="Nhập email"></ion-input>
        <ion-icon
          name="mail-outline"
          slot="end"
          size="small"
          color="medium"
        ></ion-icon>
      </ion-item>
      <ion-button [routerLink]="['/auth/confirm-email']">Gửi</ion-button>
      <span class="text text-center" [routerLink]="['/auth/login']"
        >Đăng nhập</span
      >
      <span class="text text-center" [routerLink]="['/auth/qa']"
        >Câu hỏi thường gặp</span
      >
    </form>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
