.stats {
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 10px;
  padding: 1rem;
  .title {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }
  .label {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
  }
  .number-border-blue {
    width: 2rem;
    height: 2rem;
    background-image: url("../../../../../../assets/icon/number-border.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .number {
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
  }
}
.blue {
  background: #00acfb;
}
.green {
  background: #11d0a2;
}
.yellow {
  background: #ffb13d;
}
.red {
  background: #ff7474;
}
