<ion-header class="ion-no-border">
  <ion-toolbar class="container">
    <div class="d-flex justify-content-between w-100">
      <img
        src="assets/logos/logo-gob.svg"
        width="130"
        alt="logo"
        (click)="goTo('/master/home')"
      />
      <div class="d-flex">
        <img src="assets/icon/contact.svg" width="115" alt="contact" />
        <img
          src="assets/icon/menu.svg"
          width="24"
          alt="menu"
          style="margin-left: 0.75rem"
          (click)="goTo('/master/menu')"
        />
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
