.item {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
  .avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1rem;
    background: #00acfb;
    border: 1px solid #ccefff;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }
  .info-title {
    width: calc(100% - 4.25rem);
    .info {
      .name {
        font-size: 14px;
        line-height: 17px;
        color: rgba(69, 67, 67, 0.89);
      }
      .created-time {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #373737;
      }
    }
    .title {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #373737;
    }
  }
  ion-icon {
    font-size: 1rem;
    color: #696969;
  }
}
.file {
  font-weight: 700;
  line-height: 20px;
  span {
    font-size: 12px;
    color: #00acfb;
    max-width: calc(100% - 1.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
