<div
  class="item d-flex justify-content-between align-items-center"
  (click)="openItem()"
>
  <div class="avatar d-flex justify-content-center align-items-center">
    {{ item.name.slice(0, 1) }}
  </div>
  <div class="info-title d-flex flex-column">
    <span class="info">
      <b>{{ item.name }}</b
      >&nbsp;
      <span class="created-time">{{ item.createdTime }}</span>
    </span>
    <div class="title">{{ item.title }}</div>
  </div>
  <ion-icon
    [name]="
      opened === item.id ? 'chevron-down-outline' : 'chevron-forward-outline'
    "
  ></ion-icon>
</div>
<div
  [innerHTML]="item.content"
  *ngIf="opened === item.id"
  style="font-size: 14px"
></div>
<div *ngIf="opened === item.id && item.files?.length > 0">
  <b>Đính kèm</b>
  <div *ngFor="let file of item.files" class="d-flex align-items-center file">
    <ion-icon name="attach-outline" color="danger"></ion-icon
    ><span>{{ file.name }}</span>
  </div>
</div>
