<ion-content>
  <div class="position-relative m-3">
    <div class="back-border"></div>
    <div class="list-box container">
      <div class="d-flex justify-content-between">
        <span class="title">Tương tác khách hàng</span>
        <ion-icon
          name="information-circle-outline"
          style="color: #00acfb; font-size: 1.5rem"
          [routerLink]="['/master/customer/info', id]"
        ></ion-icon>
      </div>
      <input matInput type="text" placeholder="Tìm hội thoại" />
      <interactive-item
        *ngFor="let item of interactiveList"
        [item]="item"
        [(opened)]="opened"
      ></interactive-item>
    </div>
    <ion-button>Xem thêm</ion-button>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
