<ion-content>
  <div class="position-relative m-3">
    <div class="back-border"></div>
    <div class="list-box container">
      <div class="d-flex justify-content-between">
        <span class="title">Hồ sơ tương tác khách hàng</span>
      </div>
      <input
        matInput
        type="text"
        placeholder="Tìm kiếm theo tên khách hàng..."
      />
      <contact-item
        *ngFor="let contact of contactList"
        [routerLink]="'/master/customer/interactive/1'"
        [contact]="contact"
      ></contact-item>
    </div>
    <ion-button>Xem thêm</ion-button>
  </div>
  <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
    <span>Email: support@gobranding.com.vn</span>
    <span>Số điện thoại: 0913 713 679</span>
    <span>Bản quyền © 2015-2016 GOBRANDING</span>
  </ion-footer>
</ion-content>
