<ion-content>
  <div class="d-flex flex-column justify-content-between h-100">
    <img src="assets/header-onboarding.png" class="w-100 img-header" alt="" />
    <form action="" class="w-90 m-auto p-3 d-flex flex-column bg-white">
      <span class="title">Xác thực đổi mật khẩu</span>
      <span class="label">Mã xác thực</span>
      <ion-item lines="none">
        <ion-input placeholder="Gồm 6 chữ,số"></ion-input>
        <ion-icon
          name="key-outline"
          slot="end"
          size="small"
          color="medium"
        ></ion-icon>
      </ion-item>
      <ion-button [routerLink]="['/auth/reset-password']">Gửi</ion-button>
      <span class="count text-center my-2"
        >Chưa nhận được mã? <b>{{ count }}s</b></span
      >
      <span class="resend text-center" (click)="resend()">Gửi lại</span>
      <span class="text text-center mt-6rem" [routerLink]="['/auth/login']"
        >Đăng nhập</span
      >
      <span class="text text-center" [routerLink]="['/auth/qa']"
        >Câu hỏi thường gặp</span
      >
    </form>
    <div class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </div>
  </div>
</ion-content>
