/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
  font-family: "Inter", sans-serif;
}
.img-header {
  margin-bottom: 1.25rem;
}
ion-header {
  --background: #ffff;
}
ion-content {
  --background: #f7f7f7;
}
ion-input {
  font-size: 14px !important;
  --background: #ffff;
}
ion-button {
  font-size: 14px !important;
}
ion-modal {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4) !important;
}

.filter-modal-keyword {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 17.75rem !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.filter-modal-traffic {
  position: absolute;
  bottom: 0;
  left: 0;
  --height: 17.75rem !important;
  --border-radius: 10px 10px 0 0;
}
.box-item {
  width: 44vw;
  height: 44vw;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  margin: calc((50vw - 44vw - 16px)) 0;
  padding: 24px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .number-border {
    width: 58px;
    height: 58px;
    background-image: url("assets/icon/number-border.svg");
  }
  .number {
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
  }
  .group-title {
    display: flex;
    flex-direction: column;
  }
  .type {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
}
.box-blue {
  background: #00acfb;
}
.box-green {
  background: #11d0a2;
}
.box-yellow {
  background: #ffb13d;
}
.box-red {
  background: #ff7474;
}

.bg-default {
  background: #f7f7f7;
}
.w-90 {
  width: 90% !important;
}
.w-47 {
  width: 47% !important;
}
.w-49 {
  width: 49% !important;
}
.mt-10rem {
  margin-top: 10rem !important;
}
.mt-6rem {
  margin-top: 6rem !important;
}
.footer {
  background-color: #009de5;
  font-size: 14px;
  line-height: 20px;
  margin-top: 1.25rem;
}

.back-border {
  position: absolute;
  z-index: -1;
  background: #ff0000;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 40px;
  top: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

ion-button {
  --background: #ff7474;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  --border-radius: 20px;
  text-transform: none;
  width: 100%;
  margin-top: 1rem;
}
ion-select {
  font-weight: 500;
  font-size: 12px;
  color: #696969;
}
