<ion-content>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="position-relative m-3">
      <div class="back-border"></div>
      <div class="contact d-flex flex-column p-3">
        <span class="title">Liên hệ</span>
        <span class="label my-3 text-center"
          >Công ty CP Global Online <br />Branding</span
        >
        <div class="my-2" *ngFor="let contact of contactList; index as i">
          <span class="label">{{ contact.title }}</span>
          <div class="contact-item d-flex align-items-center">
            <div
              [class]="
                'count d-flex justify-content-center align-items-center number-' +
                ((i + 1) % 4 === 1
                  ? 'blue'
                  : (i + 1) % 4 === 2
                  ? 'green'
                  : (i + 1) % 4 === 3
                  ? 'yellow'
                  : 'red')
              "
            >
              <ion-icon [name]="contact.icon"></ion-icon>
            </div>
            <span>{{ contact.value }}</span>
          </div>
        </div>
      </div>
    </div>
    <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
      <span>Email: support@gobranding.com.vn</span>
      <span>Số điện thoại: 0913 713 679</span>
      <span>Bản quyền © 2015-2016 GOBRANDING</span>
    </ion-footer>
  </div>
</ion-content>
