.contact {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  .title {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }
  .label {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #009de6;
  }
  .contact-item {
    margin: 0.5rem 0;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    .count {
      width: 3.625rem;
      height: 3.625rem;
      box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
      border-radius: 10px;
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
      margin-right: 0.5rem;
    }
    .number-blue {
      background: #009de5;
    }
    .number-green {
      background: #11d0a2;
    }
    .number-yellow {
      background: #ffb13d;
    }
    .number-red {
      background: #ff7474;
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      width: calc(100% - 58px - 1rem);
      color: #373737;
    }
  }
}
