<div class="d-flex flex-wrap justify-content-between mb-3">
  <box-item
    *ngFor="let boxItem of keywordBoxData"
    [boxItem]="boxItem"
  ></box-item>
</div>
<div class="position-relative">
  <div class="back-border"></div>
  <div class="chart">
    <div class="d-flex justify-content-between mb-3">
      <span class="title">Đồ thị</span>
      <ion-icon
        name="options-outline"
        style="color: #696969; font-size: 24px"
        (click)="filter()"
      ></ion-icon>
    </div>
    <canvas
      baseChart
      width="325"
      height="172"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      [legend]="false"
    ></canvas>
    <b class="label">Phần mềm quản lý tài sản</b>
  </div>
</div>
<list-box
  [title]="'Từ khoá'"
  [searchPlaceholder]="'Tìm theo từ khoá, website, ...'"
  [listBox]="listBox"
></list-box>

<ion-button>Xem thêm</ion-button>
