<ion-content>
  <div class="h-100 d-flex flex-column justify-content-between">
    <div class="d-flex m-3 justify-content-between flex-wrap">
      <div
        class="d-flex align-items-center menu"
        *ngFor="let item of listItem"
        [routerLink]="item.routerLink"
      >
        <span class="d-flex align-items-center">
          <ion-icon [name]="item.icon"></ion-icon>
        </span>
        <span
          [class]="'title ' + (item.activeLink === activeLink ? 'active' : '')"
          >{{ item.name }}</span
        >
      </div>
    </div>
    <div>
      <div class="mx-3">
        <ion-button (click)="logout()" class="logout">Đăng xuất</ion-button>
      </div>
      <ion-footer class="footer d-flex flex-column px-4 py-3 text-white">
        <span>Email: support@gobranding.com.vn</span>
        <span>Số điện thoại: 0913 713 679</span>
        <span>Bản quyền © 2015-2016 GOBRANDING</span>
      </ion-footer>
    </div>
  </div>
</ion-content>
