.menu {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 44vw;
  margin: calc(6vw - 1rem) 0;
  padding: 0 1rem;
  height: 60px;
  ion-icon {
    color: #00acfb;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #373737;
  }
  .active {
    font-weight: 700;
  }
}
.logout {
  --background: #ffffff;
  border: 1px solid #a1ddff;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(218, 218, 218, 0.1);
  border-radius: 20px;
  color: #696969;
}
